
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $very-dark-blue;
    height: 100vh;
    overflow: hidden;
}




/* Desktop */

.container {
    .card.desktop{
        display: initial;
    }
    .mobile{
        display: none;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

    .card.desktop {
        max-width: 80rem;
        display: flex;
        justify-content: center;
        background-color: $dark-desaturated-blue;
        flex-flow: row-reverse;
        margin: 5%;
        border-radius: 0.5rem 0 0 0.5rem;
        
   
        .img {
            width: 50%;
            display: flex;
            background: $soft-violet;
            border-radius: 0rem 0.5rem 0.5rem 0;
            .desktop {
                display: flex;
                width: 100%;
                object-fit: cover;
                opacity: 0.5;
                border-radius: 0rem 0.5rem 0.5rem 0;
            }
        }
        .content{

            width: 50%;
            padding-right: 1vw;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .heading{
                color: $white;
                font-family: $font-family-inter;
                font-weight: $font-weight-bold;
                font-size: 2rem;
                text-align: left;
                padding: 5rem 3rem 0 3rem;
                flex-shrink: 1;
                span{
                    color: $soft-violet;
                }
            }
            .text {
                color: $slightly-transparent-white;
                font-family: $font-family-inter;
                font-weight: $font-weight-regular;
                font-size: 1rem;
                line-height: 1.8rem;
                text-align: left;
                padding: 0.8rem 3rem 0 3rem;
                
            
            }

            .card_details{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 3rem 3rem 0 3rem;
                padding-bottom: 2rem;
                gap: 25%;
                // .companies{
                //     width: 100%;
                // }
                // .templates{
                //     width: 100%;
                // }
                // .queries{
                //     width: 100%;
                // }
                
                h2{
                    color: $white;
                    font-family: $font-family-inter;
                    font-weight: $font-weight-bold;
                    font-size: 1.4rem;
                    text-align: center;
                }
                P{
                    color: $slightly-transparent-white2;
                    font-family: $font-family-lexend;
                    font-weight: $font-weight-regular;
                    font-size: 0.6rem;
                    text-align: center;
                    margin-top: 0.3rem;
                }
            }
        }
        
    }
}





/* Mobile */

@media  screen and (max-width: 992px) { 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    .card.desktop {
        display: none;
    }

    .card {
        background-color: $dark-desaturated-blue;
        width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
       
        .img {
            width: 100%;
            background: $soft-violet;
            border-radius: 0.5rem 0.5rem 0 0;
            .mobile {
                display: flex;
                width: 100%;
                object-fit: cover;
                opacity: 0.5;
                border-radius: 0.5rem 0.5rem 0 0;
            }
        }

        .heading{
            color: $white;
            font-family: $font-family-inter;
            font-weight: $font-weight-bold;
            font-size: 1.5rem;
            padding: 1.5rem;
            text-align: center;
            margin-top: 1.2rem;

            span{
                color: $soft-violet;
            }
        }
        .text {
            color: $slightly-transparent-white;
            font-family: $font-family-inter;
            font-weight: $font-weight-regular;
            font-size: 0.9rem;
            line-height: 1.4rem;
            text-align: center;
            padding: 0.5rem 1.3rem;
        }

        .card_details{
            display: flex;
            flex-direction: column;
            padding: 2rem;
            gap: 1.5rem;

            h2{
                color: $white;
                font-family: $font-family-inter;
                font-weight: $font-weight-bold;
                font-size: 1.4rem;
                text-align: center;
            }
            P{
                color: $slightly-transparent-white2;
                font-family: $font-family-lexend;
                font-weight: $font-weight-regular;
                font-size: 0.6rem;
                text-align: center;
                margin-top: 0.3rem;
            }
        }
    }
}
}


